body {
    background:#1e1e1e;
    color:white;
    text-align:center;
    font-family:Arial;
    transition: 0.3s;
}

.slots span{
    font-size:70px;
    margin:10px;
}

/* WIN glow */
.win span {
    text-shadow: 0 0 15px gold;
}

/* JACKPOT */
.jackpot {
    background: radial-gradient(circle, gold, red);
    animation: flash 0.2s infinite;
}

@keyframes flash {
    0% {filter: brightness(1);}
    50% {filter: brightness(2);}
    100% {filter: brightness(1);}
}

/* SHAKE */
.shake {
    animation: shake 0.3s;
}

@keyframes shake {
    0% {transform: translateX(0);}
    25% {transform: translateX(-5px);}
    50% {transform: translateX(5px);}
    75% {transform: translateX(-5px);}
    100% {transform: translateX(0);}
}

/* efeito pulse no jackpot */
.jackpot {
    animation: pulse 0.3s infinite alternate;
}

@keyframes pulse {
    from { transform: scale(1); }
    to { transform: scale(1.03); }
}